<launch>

    <!-- Configurable arguments -->
    <arg name="robot_name" default="sam"/>
	<arg name="base_frame" default="/$(arg robot_name)/base_link" />

	<!-- Croatia, biograd coast, lat lon zone band, all four from there -->
    <arg name="utm_zone" default="33"/>
    <arg name="utm_band" default="T"/>

	<!-- topics -->
    <arg name="plan_topic" default="imc/plan_db"/>
    <arg name="estimated_state_topic" default="imc/estimated_state"/>
    <arg name="plan_control_state_topic" default="imc/plan_control_state"/>
    <arg name="vehicle_state_topic" default="imc/vehicle_state_topic"/>
    <arg name="abort_topic" default="imc/abort"/>

	<!-- Action Servers -->
    <arg name="action_namespace" default="ctrl/wp_depth_action_planner"/>
    <arg name="emergency_action_namespace" default="ctrl/emergency_surface_action"/>


	<node name="sam_bt" pkg="waypoints" type="sam_bt.py" output="screen" ns="$(arg robot_name)">
		<param name="base_frame" value="$(arg base_frame)" />

		<param name="utm_zone" value="$(arg utm_zone)" />
		<param name="utm_band" value="$(arg utm_band)" />

		<param name="plan_topic" value="$(arg plan_topic)" />
		<param name="estimated_state_topic" value="$(arg estimated_state_topic)" />
		<param name="plan_control_state_topic" value="$(arg plan_control_state_topic)" />
		<param name="vehicle_state_topic" value="$(arg vehicle_state_topic)" />
		<param name="abort_topic" value="$(arg abort_topic)" />

		<param name="action_namespace" value="$(arg action_namespace)" />
		<param name="emergency_action_namespace" value="$(arg emergency_action_namespace)" />
	</node>

    
</launch>
