<launch>

    <!-- Configurable arguments -->
    <arg name="robot_name" default="sam"/>

	<!-- Croatia, biograd coast, lat lon zone band, all four from there -->
    <arg name="utm_zone" default="33"/>
    <arg name="utm_band" default="T"/>


	<node name="sam_bt" pkg="waypoints" type="sam_bt.py" output="screen" ns="$(arg robot_name)">
		<param name="utm_zone" value="$(arg utm_zone)" />
		<param name="utm_band" value="$(arg utm_band)" />
		<param name="base_frame" value="$(arg robot_name)/base_link" />
	</node>   

    
</launch>
