<launch>

    <!-- Configurable arguments -->
    <arg name="robot_name" default="sam"/>
	<!-- Croatia, biograd coast, lat lon zone band, all four from there -->
    <arg name="latitude" default="43.93183"/>
    <arg name="longitude" default="15.44264"/>
    <arg name="utm_zone" default="33"/>
    <arg name="utm_band" default="T"/>

    <arg name="base_frame" default="$(arg robot_name)/base_link"/>
    <arg name="goal_tolerance" default="5."/>

     <!-- Static transform -->
    <node pkg="tf" type="static_transform_publisher" name="world_utm_broadcaster" args="535529 4864397 0 0 0 0 1 world_utm world_local 100" />

    <node pkg="rostopic" type="rostopic" name="fake_gps_fix"
          args="pub /gps/fix sensor_msgs/NavSatFix --latch
          '{header: {seq: 999, stamp: {secs: 0, nsecs: 0}, frame_id: 'world_local'},
            status: {status: 0, service: 1},
            latitude: $(arg latitude),
            longitude: $(arg longitude),
            altitude: 0,
            position_covariance: [3.9561210000000004, 0.0, 0.0, 0.0, 3.9561210000000004, 0.0, 0.0, 0.0, 7.650756],
            position_covariance_type: 2}'" output="screen"/>

    <group ns="$(arg robot_name)">

        <group ns="ctrl">

            <node name="yaw_planner" pkg="auv_simple_motion_planner" type="yaw_planner.py" output="screen">
                <param name="goal_tolerance" value="$(arg goal_tolerance)" />
                <param name="base_frame" value="$(arg base_frame)" />
            </node>
    
        </group>

        <node name="sam_bt" pkg="waypoints" type="sam_bt.py" output="screen">
            <param name="system_name" value="$(arg system_name)" />
            <param name="utm_zone" value="$(arg utm_zone)" />
            <param name="utm_band" value="$(arg utm_band)" />
            <remap from="/bezier_planner" to="ctrl/yaw_planner"/>
        </node>   

    </group>
    
</launch>
