<launch>
	<arg name="robot_name" default="sam" />
	<arg name="config_file" default="$(find smarc_bt)/launch/config.yaml"/>


	<node name="smarc_bt" pkg="smarc_bt" type="smarc_bt.py" output="screen" ns="$(arg robot_name)">
		<!--Load this first so it can be over-written by other params later-->
		<!--Cant use subst_value in melodic...-->
		<rosparam file="$(arg config_file)" command="load"/>
		<param name="robot_name" value="$(arg robot_name)" />
		<param name="config_file" value="$(arg config_file)"/>
	</node>
</launch>
