<launch>

    <arg name="namespace" default="sam"/>

    <group ns="$(arg namespace)">
      	<group ns="ctrl">
			<node name="goto_waypoint" pkg="sam_action_servers" type="wp_depth_action_planner.py" output="screen">
				<param name="base_frame" value="$$(arg namespace)/base_link"/>
				<param name="base_frame_2d" value="$(arg namespace)/base_link_2d"/>
				<param name="wp_tolerance" value="2."/>
				<!-- <param name="depth_tolerance" value="0.5"/> -->
				<param name="rpm1_cmd_topic" value="/$(arg namespace)/core/thruster1_cmd" />
				<param name="rpm2_cmd_topic" value="/$(arg namespace)/core/thruster2_cmd" />
				<param name="heading_setpoint_topic" value="/$(arg namespace)/ctrl/heading_pid/setpoint" />
				<param name="heading_state_topic" value="/$(arg namespace)/ctrl/heading_pid/state" />
				<param name="elevator_setpoint_topic" value="/$(arg namespace)/ctrl/elevator_pid/setpoint" />
			</node>
	
			<include file="$(find sam_basic_controllers)/launch/thrusters_ctrl.launch" >
				<arg name="namespace" value="$(arg namespace)"/>
			</include>

		</group>
	</group>

	<!-- Emergency surface action -->
	<include file="$(find sam_action_servers)/launch/emergency_surface_action.launch" >
		<arg name="robot_name" value="$(arg namespace)"/>	
	</include>

	<!-- Planned surface node -->
	<include file="$(find sam_action_servers)/launch/mission_complete_node.launch" >
		<arg name="robot_name" value="$(arg namespace)"/>	
	</include>

    
</launch>
