<launch>

    <!-- Configurable arguments -->
    <arg name="robot_name" default="sam"/>

    <arg name="wp_tolerance" default="5."/>
    <arg name="depth_tolerance" default="1."/>
    <arg name="base_frame" default="$(arg robot_name)/base_link"/>
    <arg name="forward_rpm" default="400"/>
	
    <!-- topics, note the root! -->
    <arg name="rpm1_cmd_topic" default="/$(arg robot_name)/core/thruster1_cmd" />

    <group ns="$(arg namespace)">

      	<group ns="ctrl">

			<node name="goto_waypoint" pkg="sam_action_servers" type="wp_depth_action_planner.py" output="screen" ns="$(arg robot_name)/ctrl">
				<param name="base_frame" value="$(arg base_frame)"/>
				<param name="base_frame_2d" value="$(arg robot_name)/base_link_2d"/>
				<param name="wp_tolerance" value="2."/>
				<!-- <param name="depth_tolerance" value="0.5"/> -->
				<param name="rpm1_cmd_topic" value="/$(arg namespace)/core/thruster1_cmd" />
				<param name="rpm2_cmd_topic" value="/$(arg namespace)/core/thruster2_cmd" />
				<param name="heading_setpoint_topic" value="/$(arg namespace)/ctrl/heading_pid/setpoint" />
				<param name="heading_state_topic" value="/$(arg namespace)/ctrl/heading_pid/state" />
				<param name="elevator_setpoint_topic" value="/$(arg namespace)/ctrl/elevator_pid/setpoint" />
				
			</node>

		</group>
	</group>

</launch>
