<launch>

    <arg name="robot_name" default="sam"/>

	<!-- Start all actions before the BT -->
	<!--All the minute configs are in its own config file in the launch dir-->
	<include file="$(find smarc_bt)/launch/smarc_bt.launch">
		<arg name="robot_name" value="$(arg robot_name)"/>
	</include>

	<include file="$(find smarc_nodered)/launch/smarc_nodered.launch" ns="$(arg robot_name)">
		<arg name="robot_name" value="$(arg robot_name)"/>
	</include>

    
</launch>
