$def with (label, topic, element)

<!-- Sorry this is so ugly, but this seems to be the only way to get the script executed -->
var pub_$topic = new ROSLIB.Topic({
  ros : ros,
  name : '/$:topic',
  messageType : 'std_msgs/Empty'
});

var empty_msg = new ROSLIB.Message({});

output = '<button type="button" onclick="pub_$topic .publish(empty_msg)" class="btn-lg btn-default btn-block btn-primary">$:label</button>';
<!-- output = '<button type="button" onclick="pub.publish(empty_msg)" class="btn-lg btn-default btn-block btn-primary">$:label</button>' -->

<!-- $$("#bottom_right_div").html(output); -->
$$("$element").html(output);
