<launch>

<arg name="robot_name" default="lolo"/>
<arg name="utm_zone" default="34"/>
<arg name="utm_band" default="V"/>

<param name="utm_zone" type="int" value="$(arg utm_zone)"/>
<param name="utm_band" type="string" value="$(arg utm_band)"/> 

<!-- TODO: change namespace to be in include instead -->
<include file="$(find lolo_description)/launch/lolo_description.launch">
    <arg name="namespace" value="$(arg robot_name)"/>
</include>

<include file="$(find tf_lat_lon)/launch/odom_tf.launch" ns="$(arg robot_name)">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="tf_topic" value="dr/lat_lon"/>
</include>

<node pkg="smarc_mission_sim" type="mission_sim_node" name="mission_sim_node" output="screen" ns="$(arg robot_name)"/>
<node name="fake_hardware" pkg="smarc_mission_sim" type="fake_hardware.py" />

<!--Instead of launching the entire mission, that also has nodered, just launch the bt-->
<!--This doesnt test anything but the BT anyways-->
<!--<include file="$(find smarc_bt)/launch/mission.launch">-->
    <!--<arg name="robot_name" value="$(arg robot_name)"/>-->
<!--</include>-->
<include file="$(find smarc_bt)/launch/smarc_bt.launch">
	<arg name="robot_name" value="$(arg robot_name)"/>
</include>

</launch>
