<launch>

<arg name="robot_name" default="lolo"/>
<arg name="config_file" default="$(find smarc_bt)/launch/config.yaml"/>

<include file="$(find lolo_description)/launch/lolo_description.launch">
    <arg name="namespace" value="$(arg robot_name)"/>
</include>

<include file="$(find tf_lat_lon)/launch/odom_tf.launch" ns="$(arg robot_name)">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="tf_topic" value="dr/lat_lon"/>
</include>

<node pkg="smarc_mission_sim" type="mission_sim_node" name="mission_sim_node" output="screen" ns="$(arg robot_name)"/>
<node name="fake_hardware" pkg="smarc_mission_sim" type="fake_hardware.py" />

<!--Instead of launching the entire mission, that also has nodered, just launch the bt-->
<!--This doesnt test anything but the BT anyways-->
<!--<include file="$(find smarc_bt)/launch/mission.launch">-->
    <!--<arg name="robot_name" value="$(arg robot_name)"/>-->
<!--</include>-->
<node name="smarc_bt" pkg="smarc_bt" type="bt_trunk.py" output="screen" ns="$(arg robot_name)">
    <!--Load this first so it can be over-written by other params later-->
    <!--Cant use subst_value in melodic...-->
    <rosparam file="$(arg config_file)" command="load"/>
    <param name="robot_name" value="$(arg robot_name)" />
    <param name="config_file" value="$(arg config_file)"/>
</node>

</launch>
