<launch>

<arg name="robot_name" default="lolo"/>
<arg name="utm_zone" default="34"/>
<arg name="utm_band" default="V"/>

<param name="utm_zone" type="int" value="$(arg utm_zone)"/>
<param name="utm_band" type="string" value="$(arg utm_band)"/> 

<!-- TODO: change namespace to be in include instead -->
<include file="$(find lolo_description)/launch/lolo_description.launch">
    <arg name="namespace" value="$(arg robot_name)"/>
</include>

<include file="$(find tf_lat_lon)/launch/odom_tf.launch" ns="$(arg robot_name)">
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="tf_topic" value="dr/lat_lon"/>
</include>

<node pkg="smarc_mission_sim" type="mission_sim_node" name="mission_sim_node" output="screen" ns="$(arg robot_name)"/>
<node pkg="smarc_mission_sim" type="mission_sim_waypoint_nav" name="mission_sim_waypoint_nav" output="screen" ns="$(arg robot_name)">
    <param name="robot_name" value="$(arg robot_name)"/>
</node>

<include file="$(find bt_mission)/launch/mission.launch">
    <!-- utm_zone:=$UTM_ZONE utm_band:=$UTM_BAND --> 
    <arg name="neptus_addr" value="127.0.0.1"/>
    <arg name="bridge_addr" value="127.0.0.1"/>
    <arg name="bridge_port" value="6002"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
</include>

<include file="$(find smarc_mission_sim)/launch/send_mission.launch"/>
<include file="$(find smarc_mission_sim)/launch/start_mission.launch"/>

</launch>
