<launch>

    <arg name="robot_name" default="sam"/>

	<!-- Hard limits -->
    <arg name="max_depth" default=20/>
    <arg name="min_altitude" default=5/>
    <arg name="emergency_trials_before_giving_up" default=10/>

	<!-- Frames in tf -->
	<arg name="base_link" default="/$(arg robot_name)/base_link" />
	<arg name="poi_detector_link" default="/$(arg robot_name)/camera_down_link" />
	<arg name="utm_frame" default="utm" />

	<!-- Leader follower stuff -->
	<!-- by default, use sam_1 as leader -->
	<arg name="leader_link" default="sam_1/base_link" />
	<arg name="enable_leader_follower" default="True" />
    <arg name="follow_action_namespace" default="ctrl/leader_follower_action"/>

	<!-- Options: "", or whatever is started at the bottom -->
    <arg name="path_planner_name" default=""/>

	<!-- Croatia, biograd coast, should really be set from bringup -->
    <arg name="utm_zone" default="33"/>
    <arg name="utm_band" default="T"/>

	<!-- Bridge related -->
    <arg name="neptus_addr" default="127.0.0.1"/>
    <arg name="bridge_addr" default="127.0.0.1"/>
    <arg name="bridge_port" default="6002"/>
	<arg name="node_name" default="imc_bridge"/>
	<!-- 4=imc_ros_bridge, 5=sam, 6=lolo as defined in neptus configs -->
    <arg name="imc_id" default="5"/>
    <arg name="imc_src" default="$(arg imc_id)"/>
    <arg name="imc_system_name" default="sam"/>

	<!-- Topics -->
    <arg name="plandb_topic" default="imc/plan_db"/>
    <arg name="plan_control_topic" default="imc/plan_control"/>
    <arg name="estimated_state_topic" default="imc/estimated_state"/>
    <arg name="plan_control_state_topic" default="imc/plan_control_state"/>
    <arg name="vehicle_state_topic" default="imc/vehicle_state"/>
    <arg name="abort_topic" default="imc/abort"/>
    <arg name="gps_fix_topic" default="core/gps"/>
    <arg name="altitude_topic" default="core/dvl"/>
    <arg name="depth_topic" default="ctrl/odom_listener/depth_feedback"/>



	<!-- Action Servers -->
    <arg name="action_namespace" default="ctrl/wp_depth_action_planner"/>
    <arg name="emergency_action_namespace" default="ctrl/emergency_surface_action"/>
    <arg name="follow_action_namespace" default="ctrl/leader_follower_action"/>


	<!-- WP-Depth planner related -->
    <arg name="wp_tolerance" default="5."/>
    <arg name="depth_tolerance" default="0.5"/>

	<!-- Leader follower related -->
    <arg name="min_dist" default="5."/>


	<!-- Start all actions before the BT -->
    <include file="$(find auv_simple_motion_planner)/launch/emergency_surface_action.launch" pass_all_args="true"/>
    <include file="$(find auv_simple_motion_planner)/launch/wp_depth_action_planner.launch" pass_all_args="true"/>
    <include file="$(find auv_simple_motion_planner)/launch/leader_follower_action.launch" pass_all_args="true"/>

	<!-- Start the path planner service -->
    <!-- <arg name="spline_degree" default="3" />
    <arg name="smoothing_factor" default="0.1" />
	<arg name="waypoint_spacing" default="0.1" />
    <include file="$(find trajectories)/launch/bspline.launch" pass_all_args="true">
        <param name="spline_degree" value="$(arg spline_degree)" type="int" />
        <param name="smoothing_factor" value="$(arg smoothing_factor)" type="double" />
		<param name="waypoint_spacing" value="$(arg waypoint_spacing)" type="double" />
	</include> -->

	<include file="$(find smarc_bt)/launch/bt_sam.launch" pass_all_args="true"/>
	<include file="$(find imc_ros_bridge)/launch/bridge_sam.launch" pass_all_args="true"/>

    
</launch>
