<launch>

    <!-- Configurable arguments -->
    <arg name="robot_name" default="sam"/>
    <arg name="max_depth" default=20/>
    <arg name="min_altitude" default=5/>
    <arg name="emergency_trials_before_giving_up" default=10/>


	<!-- Options: "", "/interp1d" -->
    <arg name="path_planner_name" default="/interp1d"/>


	<!-- BT Related -->
	<!-- Croatia, biograd coast, lat lon zone band, all four from there -->
    <arg name="utm_zone" default="33"/>
    <arg name="utm_band" default="T"/>


	<!-- Bridge related -->
    <arg name="neptus_addr" default="127.0.0.1"/>
    <arg name="bridge_addr" default="127.0.0.1"/>
    <arg name="bridge_port" default="6002"/>
	<arg name="node_name" default="imc_bridge"/>
	<!-- 4=imc_ros_bridge, 5=sam, 6=lolo as defined in neptus configs -->
    <arg name="imc_id" default="5"/>
    <arg name="imc_src" default="$(arg imc_id)"/>
    <arg name="imc_system_name" default="sam"/>



	<!-- WP-Depth planner related -->
    <arg name="wp_tolerance" default="5."/>
    <arg name="depth_tolerance" default="0.5"/>


	<!-- Start all actions before the BT -->
    <include file="$(find auv_simple_motion_planner)/launch/emergency_surface_action.launch" pass_all_args="true"/>
    <include file="$(find auv_simple_motion_planner)/launch/wp_depth_action_planner.launch" pass_all_args="true"/>

	<!-- Start the path planner service -->
	<include file="$(find trajectories)/launch/interp1d.launch" pass_all_args="true">
		<param name="waypoint_spacing" value="$(arg wp_tolerance)" />
	</include>

	<include file="$(find smarc_bt)/launch/bt_sam.launch" pass_all_args="true"/>
	<include file="$(find imc_ros_bridge)/launch/bridge_sam.launch" pass_all_args="true"/>

    
</launch>
